<% provide(:title, 'About Us') %>
<br \> <br \> 
<div class="row-fluid">
<div class="row-fluid">
	<div class="span3">
	<h5>About <br \> Us</h5>
</div>
<div class="span8">
<br \> <p> We are two students from INSA of Lyon <em>(France)</em>. We are currently exchange students at the University of Technology of Lulea <em>(Sweden)</em>. As part of our course of web design, we have chosen to create PYL.</p>
</div>
</div>
<div class="row-fluid">
<div class="span8">
<br \> <p> Akash est le roi du ciel. Il est née on ne sait pas quand, on ne sait pas où, mais il est née, c'est ce qui compte.</p>
</div>
<div class="span3">
	<h5>Akash</h5>
	<%= image_tag("akash.jpg", :size => "180x180") %>
</div>
</div>
<div class="row-fluid">
<div class="span3">
	<h5>Oriane</h5>
	<%= image_tag("oriane.jpg", :size => "180x180") %>
</div>
<div class="span8">
<br \> <p> Oriane est la reine des neiges mais elle à un tempérament de feu. Gare à celui qui critique son carousel !</p>
</div>
</div>





</div>

