<% provide(:title, 'Contact') %>
<br \> <br \> 
<div class="row-fluid">
  <div class="row-fluid">
    <div class="span3">
	  <br \> <br \>
	  <h5>Contact</h5>
    </div>
    <div class="span8">
	<br \><br \><br \> <p>
	akaruc-3@student.ltu.se<br \>
	oriblo-3@student.ltu.se</p>
    </div>
  </div>
</div>