<% provide(:title, 'Help') %>
<br \> <br \> 
<div class="row-fluid">
  <div class="row-fluid">
    <div class="span3">
	  <br \> <br \>
	  <h5>Help</h5>
    </div>
    <div class="span8">
	<br \> <p>You're lost in the PYL world ? Do not worry here some advise to start easily to impress the world with your art ...<br \><br \>

	Create an account<br \>
	Upload your pictures<br \>
	Modify them with aviary (click on edit on the left of the picture after your upload)<br \>
	Share them with the PYL community !<br \>

</p>
    </div>
  </div>
</div>