<% if signed_in? %>
<% provide(:title, 'Home gallery') %>
<br \>

<div class="row-fluid">

    <div class="span4">
    <br/>
      <h7>Enjoy the PYL* experience ! <br \> Go in your private darkroom :<br \></h7><br/><br/>
      Upload pictures from your computer<br \>
        <i class="icon-pencil "></i> Modify them <br \>
        <i class="icon-globe "></i> Share them with our community </h2>
      </div>
      <div class="span6">
      <br \><br \><h5>PYL*</h5><h2> - common gallery</h2>
      </div>
      </div>
<hr>
    <br \><br \>

    <div class="row-fluid">
    <div class="span12">
      <%= render 'shared/feed' %>
    </div>
    </div>
  

<% else %>

  
  
  <div class="center hero-unit">
    <div class="row-fluid">
    <div class="span7"><h3>Welcome on PYL*</h3></div>
    <div class="span5">
    <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">
        <div class="active item">
        <%= link_to image_tag("pylslide1.jpg", alt: "takepicture", width: "600", height:"300") %>
        </div>
          <div class="item">
            <%= link_to image_tag("pylslide2.jpg", alt: "modifyit", width: "600", height:"300") %>
          </div>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev" data-refresh="true">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next" data-refresh="true">&rsaquo;</a>
      
   </div>
  </div>  
</div>
    
    <h4>
      Are you ready to pix your life ?
    </h4>
    <%= link_to "Sign up now!", signup_path , class: "btn btn-large btn-primary" %>
    <br \><br \>
    
    <%= link_to image_tag("pixyourlife.jpg", alt: "Pix your life") %>
     
  
  </div>
 
    
    

   


  <% end %>
