<% provide(:title, @user.name) %>


<!-- Profile of current user -->
<% if current_user?(@user) %>

<div class="hero-unit">
<div class="row-fluid">

  <div class="span6">
   <h8>My private darkroom</h8><h9><br/> - express your art</h9>
  </div>
  
  <div class="span6">
    <h9>Create a pyl</h9>
    <%= render 'shared/photo_form' %>
  </div>
</div>
</div>
   
        
    


<div class="span4">
  <hr>
</div>
<div class="span3">
  <p class="text-center"><h6>My private gallery</h6></p>
</div>
<div class="span4">
  <hr>
</div>
<br \><br \><br \><br \>

<div class="row-fluid">
  <%= render 'shared/feed' %>
</div>

<!-- Profile for other users -->
<% else %>

<div class="row-fluid">

  <div class="span3">
  <aside>
      <section>
        <br/><br/><br/><%= render 'shared/other_user_info' %>
      </section>
    </aside>
    
    </div>
    <div class ="span6">
    <br \><br\><h6><%= @user.name %>'s gallery</h6><h2> - discover the art others</h2>
  </div>
  <div class ="span3">

  </div>
</div>

<div class="span4">
  <hr>
</div>

<div class="span4">
  <hr>
</div>
<br \><br \><br \><br \>

<div class="row-fluid">
  <%= render 'shared/feed' %>
</div>


<% end %>