<li>
  <%= photos.image %>
  <%= link_to user.name, user %>
</li>


<%= link_to gravatar_for(feed_item.user), feed_item.user %>
  <span class="user">
    <%= link_to feed_item.user.name, feed_item.user %>
  </span>
  <span class="photo">
    <% if feed_item.image? %>
    <%= image_tag feed_item.image.url %>
    <% end %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
  </span>
  <% if current_user?(feed_item.user) %>
  <%= link_to "delete", feed_item, method: :delete,
  data: { confirm: "You sure?" }%>
  <% end %>
