
<span class="photo">
	<% if feed_item.image? %>

	<!-- Button trigger modal -->
	<a data-toggle="modal" data-target="#myModal<%= feed_item.id %>" data-refresh="true">
		<%= image_tag feed_item.image.url,:size => "200x200" %>
	</a>

	<!-- Modal -->
	<div class="modal fade" id="myModal<%= feed_item.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<div class="row">
						<aside>							
							<section>
								<br \>
								<% @user = User.find(feed_item.user_id) %>					
								<%= link_to gravatar_for(@user, size: 52), @user %>
								<h1>
									<%= @user.name %>
								</h1>
								<span>
									<% if current_user?(@user) %>
									  <%= link_to "view my profile", @user %>
									<% else %>
									  <%= link_to "view profile", @user %>
									<% end %>
								</span>
								<span>
									<%= pluralize(@user.photos.count, "photo") %>
								</span>
								<span class="timestamp">
									Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
									<% if current_user?(feed_item.user) %>
									<%= link_to "edit", photo_path(feed_item.id)%> /
									<%= link_to "delete", feed_item, method: :delete,
									data: { confirm: "You sure?" }%>
									<% end %>
								</span>								
							</section>
						</aside>
						<aside class="center">
							<h2> <%= feed_item.content %></h2>
							<section>	

								<%= image_tag feed_item.image.url, size: "300x300" %>								
							</section>
						</aside>
					</div>
				</div>
				<div class="modal-footer">
					<!-- bouton facebook -->
					<iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px;" href= "https://pixyourlife.herokuapp.com/" allowTransparency="true"></iframe>
					<!-- bouton twitter -->
					<a href="http://twitter.com/share" class="twitter-share-button" data-url="https://pixyourlife.herokuapp.com/" data-text="I love this website" data-count="horizontal" data-lang="fr">Tweet</a>
					<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
					<!-- bouton google+ -->
					<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
					<g:plusone></g:plusone>
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<% end %>
</span>