<%= link_to gravatar_for(@user, size: 52), @user %>
<h1>
  <%= @user.name %>
</h1>
<span>
  <%= link_to "view profile", @user %>
</span>
<span>
  <%= pluralize(@user.photos.count, "photo") %>
</span>
