<%= form_for @photo, :html => { :multipart => true } do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<div class="field">
	 Upload a photo: <%= f.file_field :image %>

  ...or provide a URL: <%= f.text_field :image_url %>
</div>
<%= f.submit "Upload picture", class: "btn btn-large btn-primary" %>
<% end %>

