<h1>display</h1>

<% if @photo.image? %>
	<div class="row">
	<aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
    </aside>
    <aside class="span8">
      <section>
        <%= image_tag @photo.image.url%>
        <span class="timestamp">
        Posted <%= time_ago_in_words(@photo.created_at) %> ago.
    </span>
      </section>
    </aside>
</div>
 <% end %>





 <!-- Button trigger modal -->
<button class="btn" data-toggle="modal" data-target="#myModal">
  <%= image_tag @photo.image.url%>
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        Je veux montrer ma photo.
      <div class="row">
	<aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
    </aside>
    <aside class="span8">
      <section>
        <%= image_tag @photo.image.url%>
        <span class="timestamp">
        Posted <%= time_ago_in_words(@photo.created_at) %> ago.
    </span>
      </section>
    </aside>
</div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


 <br \><br \><br \><br \><br \><br \><br \><br \><br \><br \>
 <br \><br \><br \><br \><br \><br \><br \><br \><br \><br \>
