<h1>Editing photo</h1>
    <h1> Je viens de faire un upload ! </h1>
blablablabal
<% if @photo.image? %>

<!-- Load widget code -->
<script type="text/javascript" src="http://feather.aviary.com/js/feather.js"></script>


<!-- Instantiate the widget -->
<script type="text/javascript">

    var featherEditor = new Aviary.Feather({
        apiKey: '  f20374413e3ff5a8',
        apiVersion: 2,
        theme: 'light',
        tools: 'all',
        appendTo: '',
        onSave: function(imageID, newURL) {
            var img = document.getElementById(imageID);
            img.src = newURL;
        },
        postUrl: 'http://example.com/featherposturl'
    });

    function launchEditor(id, src) {
        featherEditor.launch({
            image: id,
            url: src
        });
        return false;
    }

</script>                         

<!-- Add an edit button, passing the HTML id of the image and the public URL to the image -->
<a href="#" onclick="return launchEditor('image1', 
    '<%= @photo.image.url %>');">Edit!</a>

<img id='image1' src='<%= @photo.image.url %>' height="352" width="470"/>

<!-- original line of HTML here: -->
<img id="editableimage1" src="http://images.aviary.com/imagesv5/feather_default.jpg"/>

 
<% end %>

    <%= form_for(@photo) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :content %>
      <%= f.text_field :content %>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>