<div class="row-fluid">

  <div class="span4">
    <br \><br \><h5>My private darkroom</h5><h2> - express your art</h2>
    <ol>
      <li>Edit your picture</li>
      <li>Give it a comment</li>
      <li>Share it</li>
      <li>Go back to the gallery to show your art</li>
    </ol>
    <br \><br \><br \>
    <%= link_to "Private darkroom", user_path , class: "btn" %>
    <%= link_to "Home gallery", root_path , class: "btn" %>
  </div>


  <div class="span8">
    <% if @photo.image? %>

<!-- Load widget code -->
<script language="JavaScript" type="text/javascript" src="https://dme0ih8comzn4.cloudfront.net/js/feather.js"></script>


<!-- Instantiate the widget -->
<script type="text/javascript">

  var featherEditor = new Aviary.Feather({
  apiKey: '  f20374413e3ff5a8',
  apiVersion: 2,
  theme: 'light',
  tools: 'all',
  appendTo: '',
  onSave: function(imageID, newURL) {
    var img = document.getElementById(imageID);
    img.src = newURL;
  },
        // postUrl: 'http://example.com/featherposturl' 
      });

function launchEditor(id, src) {
  featherEditor.launch({
    image: id,
    url: src
  });
  return false;
}

</script>                         

<!-- Add an edit button, passing the HTML id of the image and the public URL to the image -->
<a href="#"  onclick="return launchEditor('editimage1', 
'<%= @photo.image.url %>');">Edit!</a>

<img id='editimage1' src='<%= @photo.image.url %>' height="352" width="470"/>

<!-- Add an edit button, passing the HTML id of the image and the public URL of the image 
  <p><input type='image' src='http://images.aviary.com/images/edit-photo.png' value='Edit photo' onclick="return launchEditor('image1', '<%= @photo.image.url %>');" /></p> -->


  <% end %>


  <%= form_for(@photo) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :content %>
  <%= f.text_field :content %>


  <%= f.submit "Share my picture", class: "btn btn-large btn-primary" %>
  <% end %>


</div>
