<footer class="footer">
  <small>
   Developped by Akash-Roy Rucktooa and Oriane Blot
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://pixyourlife.blogspot.se/">Blog</a></li>
    </ul>
  </nav>
</footer>
